# API URL (Local: http://localhost:8080/api | Production: https://trendywear-backend.onrender.com/api)
VITE_API_URL=http://localhost:8080/api

# UPI Payment Details
VITE_UPI_ID=daviddavid88687@okhdfcbank
VITE_BUSINESS_NAME=Trendy Wear

# Contact Details
VITE_CONTACT_PHONE=+91 8072 948 359
VITE_CONTACT_EMAIL=trendywear61@gmail.com
VITE_WHATSAPP_NUMBER=918072948359
VITE_WHATSAPP_GROUP_URL=https://chat.whatsapp.com/FWNFZSUDK52DjF8YOdu4L4?mode=gi_t
VITE_INSTAGRAM_URL=https://www.instagram.com/trendy_wear_003?igsh=MW5oeGdiNDBqb3RnNw==

